body {
  background: black;
}

div {
  text-align: center;
}

h1 {
  color: white;
}

input[type=number] {
  background: black;
  color: white;
  outline: none;
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  appearance: textfield;
}

button {
  height: 2.2em;
  width: 5.5em;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

.start-btn {
  background: green;
}

.pause-btn {
  background: grey;
}

.hide-btn {
  display: none;
}

.show-btn {
  display: block;
}

.stop-btn {
  background: red;
}